# Install the apt prerequisites
addons:
  apt:
    packages:
      - python-pygments
git:
    submodules: false

# Build the website
script:
  - binaries/hugo --theme=hugo-initio
# Deploy to GitHub pages
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: public
  on:
    branch: master
