# Install the apt prerequisites
addons:
  apt:
    packages:
      - python-pygments
# Clean and don't fail

# Build the website
script:
  - binaries/hugo --theme=hugo-initio
  - echo 'gonestax.com' > public/CNAME
# Deploy to GitHub pages
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: docs
  on:
    branch: master
