<main>

	<div>
    <div ></div>
      <div >
        {{ if .Site.Params.showMision }}
            {{ partial "mision.html" . }}
        {{ end }}
      </div>
      <div class="altarnate">
        {{ if .Site.Params.showVision }}
            {{ partial "vision.html" . }}
        {{ end }}
      </div>
      <div >
        {{ if .Site.Params.showSomos }}
            {{ partial "somos.html" . }}
        {{ end }}
      </div>
      <div class="altarnate">
        {{ if .Site.Params.showServices }}
            {{ partial "services.html" . }}
        {{ end }}
      </div>
        {{ if .Site.Params.showClients }}
            {{ partial "clients.html" . }}
        {{ end }}
      <div class="container container-not-center" style="padding-top: 0">
        {{ if .Site.Params.showDownload }}
            {{ partial "download.html" . }}
        {{ end }}
      </div>
      <div>

  </div>  </div>	<!-- /container -->

</main>
