<section id="mision" class="row section featured container first">
    <h2 class="section-title"><span>Misión</span></h2>
    <div class="row">
        <div class="col-sm-12 col-md-12 lead text-center">
            Nuestra misión primordial es prestar <span class="invert-font"> servicio de alta
            calidad </span> manteniendo una comunicación constante y una
            cercanía con cada uno de nuestros clientes con el fin de
            <span class="invert-font"> superar expectativas </span> que se traduzcan en 
            <span class="invert-font">ahorros financieros </span>
            significativos para los mismos.
        </div>
    </div>
</section> <!-- / section -->
