<section id="mision" class="row section featured container">
    <h2 class="section-title"><span>Misión</span></h2>
    <div class="row">
        <div class="col-sm-12 col-md-12 lead text-center">
            Nuestra misión primordial es prestar servicio de alta
            calidad manteniendo una comunicación constante y una
            cercanía con cada uno de nuestros clientes con el fin de
            superar expectativas que se traduzcan en ahorros financieros
            significativos para los mismos.
        </div>
    </div>
</section> <!-- / section -->
