<section id="vision" class="row section featured topspace container">
    <h2 class="section-title"><span>Visión</span></h2>
    <div class="row">
        <div class="col-sm-12 col-md-12 text-center lead">
            La prestación de Servicios Profesionales a Personas
            Morales, Personas Físicas y Entidades en general, así como a
            Asociaciones Civiles, Asociaciones Religiosas, que mantengan
            una relación con el Sistema de Administración Tributaria, para
            maximizar sus recursos financieros y humanos, con el fin de
            evaluar la correcta aplicación de las disposiciones fiscales
            vigentes y contribuir en la interpretación adecuada de las
            mismas coadyuvando a la optimización de la carga fiscal.
        </div>
    </div>
</section> <!-- / section -->
